*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(255, 228, 196, 0.592);
    color: black;
}

.container {
    padding: 3rem;
    min-width: 30rem;
    background-color: bisque;
    border-radius: 20px;
}
.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    padding: 2rem;
    font-size: large;
}

.select-container{
    border: none;
    display: flex;
    border: 1px solid lightgray;
    padding: 9px;
    margin: 9px;
    border-radius: 10px;
}
.select-container select{
    border: none;
    margin: 1rem;
    /* padding: 0.5rem; */
    border-radius: 10px;
    background-color:rgb(249, 204, 149);
    font-size: 1rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

form input{
    margin: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
    width: 25rem;
}

.dropdown{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;  
}

.msg{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.btn{
   margin-left: 8rem;
   margin-top: 2rem;
   padding: 1rem;
   font-size: large;
   border-radius: 10px;
   background-color: rgba(127, 255, 212, 0.67);
   cursor: pointer;
}